<p>Siamo <a href="http://datatoknowledge.it/">DataToKnowledge</a>, un gruppo
  di giovani programmatori che si sono incontrati per caso presso il Dipartimento
  di Informatica dell'Universit&agrave; di Bari.</p>

<p>Siamo vincitori del bando <a href="http://bollentispiriti.regione.puglia.it/index.php?option=com_k2&view=item&id=6204:il-nuovo-bando-principi-attivi-2012">
  Principi Attivi 2012</a>, e questo &egrave; il nostro progetto <i class="fa fa-smile-o"></i></p>

<br/>
<p>Le notizie che riportiamo sono prese dai seguenti siti Web:
  <ul>
    <li><a href="http://www.baritoday.it/">BariToday</a></li>
    <li><a href="http://www.brindisilibera.it/">Brindisi Libera</a></li>
    <li><a href="http://www.brindisireport.it/">Brindisi Report</a></li>
    <li><a href="http://corrieredelmezzogiorno.corriere.it/bari/">Corriere del Mezzogiorno (Bari)</a></li>
    <li><a href="http://www.corrieresalentino.it/">Corriere Salentino</a></li>
    <li><a href="http://go-bari.it/">GoBari</a></li>
    <li><a href="http://www.lecceprima.it/">LeccePrima</a></li>
    <li><a href="http://www.newspuglia.it/">News Puglia</a></li>
    <li><a href="http://www.puglia24news.it/">Puglia 24 News</a></li>
    <li><a href="http://www.quotidianodipuglia.it/">Quotidiano di Puglia</a></li>
    <li><a href="http://bari.repubblica.it/">Repubblica (Bari)</a></li>
    <li><a href="http://www.senzacolonnenews.it/">Senza Colonne News</a></li>
  </ul>
</p>

<p>Ne conosci altri? Hai dei suggerimenti? <a href="mailto:info@datatoknowledge.it">Scrivici!</a></p>
