<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 ">
    <div class="panel panel-default">
      <div class="panel-heading">Filtra per Crimine</div>
      <div class="panel-body">
        <eui-checklist field="'crimes'" size="15"></eui-checklist>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Filtra per Giustizia</div>
      <div class="panel-body">
        <eui-checklist field="'relateds'" size="15"></eui-checklist>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Filtra per Provincia</div>
      <div class="panel-body">
        <eui-singleselect field="'provinceName'" size="5"></eui-singleselect>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Filtra per Citt&agrave;</div>
      <div class="panel-body">
        <eui-checklist field="'cityName'" size="10"></eui-checklist>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Filtra per Organizzazioni</div>
      <div class="panel-body">
        <eui-checklist field="'organizations'" size="15"></eui-checklist>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">

    <div class="row">
      <h3>Cerca</h3>

      <form ng-submit="">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="cerca nelle news"
                 name="srch-term" id="srch-term"
                 eui-query="ejs.MultiMatchQuery(['title', 'description'], querystring).type('most_fields').fuzziness(0.4)"
                 ng-model="querystring" eui-enabled="querystring.length">

          <!--query with all the attributes-->
          <!--<input type="text" class="form-control" placeholder="Furti a Bari" name="srch-term" id="srch-term"-->
          <!--eui-query="ejs.MultiMatchQuery(['title', 'summary','cityName','crimeStems','relatedStems','persons','locations','geopoliticals'], querystring)"-->
          <!--ng-model="querystring" eui-enabled="querystring.length" >-->

          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
    </div>


    <div class="row">
      <section class="post" ng-repeat="news in indexVM.results.hits.hits" id="{{news._id}}">
        <div class="row">
          <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
            <header class="entry-header">
              <!--div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                  <img class="entry-avatar" alt="Paul Laros" height="80" width="120" src="http://www.wheretolive.it/images/corrieresalentino.jpg">
              </div-->
              <h3 class="entry-title">
                <a href={{news._source.uri}} target="_blank">{{news._source.title}}</a>
              </h3>

              <p class="entry-meta">
                Pubblicata il <a class="entry-date">{{news._source.date}}</a>
                | <a class="entry-author" href={{news._source.publisher}}
                     target="_blank">{{news._source.publisher}}</a>
            </header>
            <div class="entry-description">
              <p class="text-justify">{{news._source.description}} </p>
            </div>
          </div>
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <!--&lt;!&ndash;qui va il tag glocu&ndash;&gt;-->
            <span ng-show="news._source.crimes.length > 0">Crimini:</span>
            <span ng-repeat="crime in news._source.crimes | unique ">
              <span class="label label-default topic-name">{{crime}} </span>
            </span>
            </p>
            <p>
              <span ng-show="news._source.relateds.length > 0">Giustizia:</span>
            <span ng-repeat="related in news._source.relateds | unique | limitTo : 8 : 0 ">
              <span class="label label-default topic-name">{{related}} </span>
            </span>
            </p>
            <p>
              <span ng-show="news._source.persons.length > 0">Persone:</span>
            <span ng-repeat="person in news._source.persons | unique | limitTo : 8 : 0  ">
              <span class="label label-default topic-name">{{person}} </span>
            </span>
            </p>
            <p>
              <span ng-show="news._source.locations.length > 0">Luoghi:</span>
            <span ng-repeat="location in news._source.locations | unique | limitTo : 8 : 0  ">
              <span class="label label-default topic-name">{{location}} </span>
            </span>
            </p>
            <p>
              <span ng-show="news._source.geopoliticals.length > 0">Entit&agrave; di Wikipedia:</span>
            <span ng-repeat="geopolitical in news._source.geopoliticals | unique | limitTo : 8 : 0  ">
              <span class="label label-default topic-name">{{geopolitical}} </span>
            </span>
            </p>
            <p>
              <span ng-show="news._source.organizations.length > 0">Enti:</span>
            <span ng-repeat="geopolitical in news._source.organizations | unique | limitTo : 8 : 0  ">
              <span class="label label-default topic-name">{{geopolitical}} </span>
            </span>
            </p>
          </div>
        </div>
      </section>
      <eui-simple-paging></eui-simple-paging>
    </div>
  </div>
</div>
