<div class="row" data-ng-init="init()">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 scrollit">
    <section class="post" ng-repeat="news in newsArray" id="{{news.id}}">
      <header class="entry-header row">

        <div class="row">
          <div  class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <img ng-show="news.imageUrl.length > 0" class="entry-avatar" alt="Paul Laros" height="80" width="120" src={{news.imageUrl}}>
          </div>
          <div  class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
          <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
          <span ng-show="news.annotations.length > 0">| Tag Semantici:</span>
            <span ng-repeat="ann in news.annotations | unique ">
              <span class="label label-success topic-name">{{ann}} </span>
            </span>
          </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3 class="entry-title">
            <a href={{news.uri}} target="_blank">{{news.title}}</a>
          </h3>

          <p class="entry-meta">
            Pubblicata il <a class="entry-date">{{news.date}}</a>
            | <a class="entry-author" href={{news.uriWebsite}} target="_blank">{{news.publisher}}</a>
            <!--span ng-show="news.keywords.length > 0">| Keywords:</span>
            <span ng-repeat="k in news.keywords | unique ">
              <span class="label label-default topic-name">{{k}} </span>
            </span-->

            <!--span ng-show="news.annotations.length > 0">| Giustizia:</span>
            <span ng-repeat="ann in news.annotations | unique ">
              <span class="label label-default topic-name">{{ann}} </span>
            </span-->
          </p>

          </p>
        </div>
      </header>
      <div class="entry-description">
        <p class="text-justify">{{news.description}} </p>
      </div>
    </section>
    <!-- /.post -->


    <div class="row row-centered">
      <ul class="pagination">
        <li ng-hide="disablePrevPage()">
          <a href ng-click="updateSearch((paginationCurrentPage-1))">&laquo;</a>
        </li>
        <li ng-repeat="n in paginationGetRange()"
            ng-class="{active: n == paginationCurrentPage}">
          <a href ng-click="updateSearch(n)">{{n+1}}</a>
        </li>
        <li ng-hide="disableNextPage()">
          <a href ng-click="updateSearch((paginationCurrentPage+1))">&raquo;</a>
        </li>

      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="col-lg-6 fixed" style="padding-top: 15px;">
      <ui-gmap-google-map options="map.options" center="map.center" zoom="map.zoom" draggable="true">
        <ui-gmap-markers models="markers"
                            coords="'self'"
                            doCluster=true
                            clusterOptions="{maxZoom:13}"
                            click="'onClicked'"
                            options="'options'"
                            events="markersEvents">
        </ui-gmap-markers>
        <!--ui-gmap-markers ng-if="map.showMarkers"
                         doCluster="map.doCluster"
                         models="searchResults.results"
                         coords="'coords'"
                         idkey="'key'"
                         chunk="200"
          ></ui-gmap-markers-->
      </ui-gmap-google-map>
    </div>
  </div>
</div>
<span id="top-link-block" class="row">
  <a href="#top" class="well well-sm"
     onclick="$('html,body, div.scrollit').animate({scrollTop:0},'slow');return false;">
    <i class="glyphicon glyphicon-chevron-up"></i> Back to Top
  </a>
</span>
