<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 scrollit">
    <section class="post" ng-repeat="news in indexVM.results.hits.hits" id="{{news._id}}">
      <header class="entry-header row">
        <!--div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
            <img class="entry-avatar" alt="Paul Laros" height="80" width="120" src="http://www.wheretolive.it/images/corrieresalentino.jpg">
        </div-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3 class="entry-title">
            <a href={{news._source.urlNews}} target="_blank">{{news._source.title}}</a>
          </h3>

          <p class="entry-meta">
            Pubblicata il <a class="entry-date">{{news._source.focusDate}}</a>
            | <a class="entry-author" href={{news._source.urlWebSite}} target="_blank">{{news._source.newspaper}}</a>
            <span ng-show="news._source.crimes.length > 0">| Crimini:</span>
            <span  ng-repeat="crime in news._source.crimes | unique ">
              <span class="label label-default topic-name">{{crime}} </span>
            </span>

            <span ng-show="news._source.relateds.length > 0">| Giustizia:</span>
            <span ng-repeat="related in news._source.relateds | unique ">
              <span class="label label-default topic-name">{{related}} </span>
            </span>
          </p>
        </div>
      </header>
      <div class="entry-description">
        <p class="text-justify">{{news._source.summary}} </p>
      </div>
    </section>
    <!-- /.post -->
    <eui-simple-paging></eui-simple-paging>

  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="col-lg-6 fixed" style="padding-top: 15px;">
      <ui-gmap-google-map options="map.options" center="map.center" zoom="map.zoom" draggable="true">
        <ui-gmap-markers models="markers" coords="'self'" doCluster=true clusterOptions="{maxZoom:13}"
                         click="'onClicked'" options="'options'" events="markersEvents">
        </ui-gmap-markers>
      </ui-gmap-google-map>
    </div>
  </div>
</div>
<span id="top-link-block" class="row">
  <a href="#top" class="well well-sm"
     onclick="$('html,body, div.scrollit').animate({scrollTop:0},'slow');return false;">
    <i class="glyphicon glyphicon-chevron-up"></i> Back to Top
  </a>
</span>
