<div class="row" data-ng-init="init()">
  <div class="row row-pad-15 text-center">
    <h1>Ricerca</h1>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <form ng-submit="searchFullText()">
    <div class="input-group">
      <input ng-model="queryText" type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </div>
    </form>
    <div ng-show="loading" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 post text-center">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <div ng-show="result" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 post text-center">
        <h3>Nessun Risultato Trovato</h3>
    </div>

  </div>
  <!--div ng-show="results">
    <br/>
    <h3>Trovati {{numRes}} risultati</h3>
    <hr>
    <br/>
  </div-->

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 scrollit">
    <section class="post" ng-repeat="news in newsArray" id="{{news._id}}">
      <header class="entry-header row">
        <!--div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
            <img class="entry-avatar" alt="Paul Laros" height="80" width="120" src="http://www.wheretolive.it/images/corrieresalentino.jpg">
        </div-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3 class="entry-title">
            <a href={{news._source.urlNews}} target="_blank">{{news._source.title}}</a>
          </h3>
          <p class="entry-meta">
            Posted on <a class="entry-date" >{{news._source.focusDate}}</a> | By <a class="entry-author" href={{news._source.urlWebSite}} target="_blank">{{news._source.newspaper}}</a> | Tags <span ng-repeat="crime in news._source.namedEntities.crimes.slice(0,3)"><a class="entry-author" href="">{{crime}} </a></span>
            <!--a class="entry-author" href="">{{news._source.namedEntities.crimes}}</a-->
          </p>
        </div>
      </header>
      <div class="entry-description">
        <p class="text-justify">{{news._source.summary}} </p>
      </div>
    </section> <!-- /.post -->


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <ul class="pagination">
        <li ng-hide="disablePrevPage()">
          <a href ng-click="updateSearch((paginationCurrentPage-1))">&laquo;</a>
        </li>
        <li ng-repeat="n in paginationGetRange()"
            ng-class="{active: n == paginationCurrentPage}">
          <a href ng-click="updateSearch(n)">{{n+1}}</a>
        </li>
        <li ng-hide="disableNextPage()">
          <a href ng-click="updateSearch((paginationCurrentPage+1))">&raquo;</a>
        </li>

      </ul>
    </div>
  </div>

  <span  id="top-link-block" class="row">
  <a href="#top" class="well well-sm" onclick="$('html,body, div.scrollit').animate({scrollTop:0},'slow');return false;">
    <i class="glyphicon glyphicon-chevron-up"></i> Back to Top
  </a>
</span>



</div>

